.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: #ffffff
}

.wrapper h5{
    font-size: small;
    text-align: center;
    color: #a8a8a8;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 45px;
   
}

.input-box input::placeholder {
    color: #e7e7e7;
}

.input-box .icon{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #e7e7e7;
}

.register-link .icon{
    position: absolute;
    left: 64%;
    top: 50%;
    transform: translateY(-415%);
    font-size: 20px;
    color: #e7e7e7;
}


.wrapper button{
    width: 100%;
    height: 45px;
    background: #b6b6b6;
    border: node;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}

.wrapper .resend{
    width: 100%;
    height: 45px;
    background: #226be9;
    border: node;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin: 15px 0 15px;
}

.wrapper .register-link{
    font-size: 18px;
    text-align: center;
    margin: 15px 0 15px;
}

.register-link p a {
    color: #1b5edb;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}